@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
    --main-color: black;
}
body {
    max-width: 980px;
    margin: auto;
}


header nav .navigation {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style-type: none;
    width: 100%;
}
header nav .navigation a {
    text-decoration: none;
    color:var(--main-color);
    margin: 15px;
}
.banner {
    font-size: 3rem;
    text-align: center;
    padding: 25px;
    font-family: 'Poppins', sans-serif;;
}
.first {
    color: blue;
}
.second {
    color: red;
}
 .third {
    color: yellow;
}
.forth {
    color: blue;
}
.fifth {
    color: green;
}
.sixth {
    color: red;
}

h6 {
    margin-left: 300px;
    font-size: 1rem;
}

.button-google{
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    color: var(--main-color);
    width: 200px;
    height: 25px;
    border: 1px solid white;
    border-radius: 8px;
    margin-left: 280px;
}
.button-lucky {
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    color: var(--main-color);
    width: 200px;
    height: 25px;
    border: 1px solid white;
    border-radius: 8px;
    /* margin-right: 226px;    */
}
.form {
    width: 450px;
    height: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: 1px solid white;
}

footer {
    background-color: #EAE7E7;
    padding: 1%;
}
.left {
    display: inline-block;
    justify-content: flex-start;
    margin: 1%;
    list-style-type: none;
    text-decoration: none;
    color: green;

}
.right {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    text-decoration: none;
}